@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    background: #FBFBFB;
    overflow-x:hidden ;
}
a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
#sidebar {
    position: fixed;
    margin-left: -20px;
    min-height: 100vh;
    min-width: 350px;
    max-width: 350px;
    background: #02182B;
    color: #fff;
    transition: all 0.4s ease-in;
}

#sidebar.active {
    margin-left: -200px;
    transition: all .4s ease-out;
}

#sidebar.active .navbar-btn {
    top: 40px;
    left: 240px;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
}

#sidebar .sidebar-header {
    padding: 20px 50px;
}
#sidebar.active .sidebar-header
{
    visibility: hidden;
}
#sidebar .sidebar-header img {
    width: 190px;
    object-fit: cover;
}
.act {
    color: #DF9506;
}

#sidebar ul li a {
    padding: 10px 36px;
    margin-left: 60px;
    line-height: 33px;
    font-size: 1.5em;
    font-weight: bold;
    display: block;
}

#sidebar.active ul li a {
    visibility: hidden;
    transition: all 0s ease;
}

#sidebar.active .hov {
    position: relative;
    top: -50px;
    margin-left: 193px;
    display: show;
    transition: all 0s ease;
}

#sidebar ul li a:hover {
    color: #DF9506;
}
#sidebar i {
    position: relative;
    top: 45px;
    left: 55px;
    font-size: 1.9em;
}
#sidebarCollapse {
    position: absolute;
    top: 4px;
    left: 300px;
    width: 40px;
    height: 40px;
    background-color: #02182B;
    cursor: pointer;
    transition: all 0.3s ease;
}
#sidebarCollapse span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: #555;
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
    transition-delay: 0.2s;
}

#sidebarCollapse span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
}

#sidebarCollapse span:nth-of-type(2) {
    opacity: 0;
}
#sidebarCollapse span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
}
#sidebarCollapse.active span {
    transform: none;
    opacity: 1;
    margin: 5px auto;
}
#sidebar .hov:hover {
    color: #DF9506;
    -webkit-transform: scale(1.10);
    transform: scale(1.10);
}
/* carousel*/
.area::placeholder{
    position: absolute;
    top: 20px;
    left: 20px;
}
.area{
    border-radius: 10px;
}
.wrapper{
    margin: 0 20px;
    display: flex;
    overflow-x: auto;
}
.wrapper::-webkit-scrollbar{
    width: 0;
}
.box .drop-file p{
    position: relative;
}
.drop-file{
    position: relative;
    display: flex;
    height: 230px;
    width: 450px;
    max-width: 100%;
    padding: 25px;
    margin: 0 20px;
    margin-left: 5px;
    align-items: center;
    border: 5px dashed black;
}
.btn-file{
    flex-shrink: 0;
    background-color: aqua;
    color: black;
    border-radius: 3px;
    padding: 8px 15px;
    margin-right: 20px;
    font-size: 15px;
    text-transform: uppercase;
}
.name-file{
    font-size: 18px;
    font-weight: 300;
    line-height: 4.4;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.input-text{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    opacity: 0;
}
.input-text:hover{
    outline: none;
}